<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  Hello, world!

  <p>userId: <%= userId %></p>

  <% if (userId) { %>
    <ul>
      <li> <a href="/my/projects">projects</a>
      <li> <a href="/my/mailboxes">mailboxes</a>
    </ul>
  <% } %>

  <a href="/oauth">login</a>

</body>
</html>
