<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  Whisky Foxtrot! Tango?

  <p>userId: <%= userId %></p>

  <% if (!userId) { %>
    <a href="/oauth">login</a>
  <% } else { %>

    <h2>My mailboxes</h2>

    <div id="mailboxListWrap">...</div>

    <h2>My projects</h2>

    <div id="projectListWrap">...</div>

    <script src="/main.js"></script>

  <% } %>

</body>
</html>

